$mainGreen: #026402;

body {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #fce6cc;
	font-family: 'Lato', sans-serif;
	text-align: center;

	a:link,
	a:visited {
		text-decoration: none;
		color: $mainGreen;
	}

	.header-div {
		font-size: 40px;
		color: #fff;
		font-weight: 700;
		background-color: $mainGreen;
		padding: 10px;
		text-align: center;
	}

	table {
		max-width: 900px;
		width: 100%;
		margin: 40px auto;
		border-collapse: collapse;
		border: 1px solid #000;

		#header-row {
			background-color: $mainGreen;
			color: #fff;
		}

		th,
		td {
			padding: 15px 0;
			font-weight: 400;
			font-size: 20px;

			@media (max-width: 577px){
				font-size: 16px;
			}

			img {
				border-radius: 100%;
				width: 45px;
			}


		}

		.underline {
			color: #89fd89;
			text-decoration: underline;
		}

		.points-link {
			cursor: pointer;
		}

		tr:nth-child(even) {
			background-color: #dbdbdb;
		}

		tr:nth-child(odd) {
			background-color: #fff;
		}

		.number {
			font-weight: 700;
		}
	}
}
