$mainGreen: #026402;

body {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #fce6cc;
	font-family: 'Lato', sans-serif;
	text-align: center;

	.header-div {
		font-size: 40px;
		color: #fff;
		font-weight: 700;
		background-color: $mainGreen;
		padding: 10px;
		text-align: center;
	}

	table {
		max-width: 900px;
		width: 100%;
		margin: 40px auto;
		border-collapse: collapse;

		thead {
			background-color: $mainGreen;
			color: #fff;
		}

		th,
		td {
			padding: 15px 0;
			border: 1px solid #000;

			img {
				border-radius: 100%;
				width: 45px;
			}
		}
	}
}
